# Xcode user/local state
.DS_Store
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# Build artifacts
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
Packages/
Package.resolved

# Dependency managers (if used)
Carthage/Build/
Pods/

# Fastlane (optional)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.xcarchive
